        body{
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        header{
            background: #7e3d3d7e;
            color: rgba(0, 0, 0, 1);
            padding: 2rem;
            text-align: center;
            height: 90px;
            border-radius: 100px;
        }
        .menu-nav{
            background: #fc020270;
            display: block;
            text-align: center;
            height: 100px;
            width: auto;
            border-radius: 100px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        nav a:hover{
            color: #000000;
            margin: 0 10px 15px 20px;
            text-decoration: none;
        }
        main{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 10px;
        }
        main section{
            text-align: center;
            flex: 1 1 300px;
            padding: 15;
            background: #8a030379;
            border-radius: 50px;
        }
        .container{
            max-width: 1000px;
            width: 100%;
            text-align: center;
        }
        h2{
            margin-bottom: 30px;
        }
        .card-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            gap:10px;
        }
        .card{
            position: relative;
            overflow: hidden;
            border-radius: 14px;
        }
        .card-img{
            width: 50%;
            height: 80%;
            object-fit: cover;
            transition: transform 0.4s, filter 0.4s;
        }
        .card-content{
            position: absolute;
            bottom: 10px;
            left: 50px;
            color: #ffffff;
            font-weight: bold;
            text-shadow: 1px 1px 5px rgb(255, 0, 0);
        }
        footer{
            background: #333;
            color: #f8f8fa;
            text-align: center;
            padding: 10px;
            border-radius: 100px;
        }